# [tag:gitignore] Keep this in sync with [ref:excluded_input_paths].
/.build/
/backend/dist/
/backend/node_modules/
/frontend-lib/dist/
/frontend-lib/node_modules/
/frontend/dist/
/frontend/node_modules/
/node_modules/
