# Everything except `Dockerfile`, `package.json`, `package-lock.json`, and `dist`.
/.dockerignore
/.eslintrc.js
/.gitignore
/.prettierrc.json
/jest.config.js
/node_modules/
/src/
/tsconfig.eslint.json
/tsconfig.json
