@import "../vendor/reset.css";
@import "./manrope.scss";
@import "./modal.scss";
@import "./source-serif-pro.scss";

// This quantity will form the basis for our vertical rhythm.
$line-height: 32px;

// This is the smallest layout viewport width we support. It's the width of the iPhone 5/SE screen.
$min-width: 320px;

// Cap the content width to help readability on larger screens.
$max-width: 800px;

// This is the transition duration for hover states.
$hover-transition-duration: 0.1s;

// I find this box sizing model to be easier to reason about.
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Use up the full layout viewport.
html,
body {
  width: 100%;
  min-width: $min-width;
  height: 100%;
  overscroll-behavior: none; // This doesn't work in Safari, unfortunately.
}

// The contents of the header and the editor will be placed in a `max-width` container to limit
// their maximum width. This also adds some padding.
.max-width {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 24px;
}

// This class can be used to add some padding, e.g., in modals.
.padding {
  padding: 24px;
}

// Style the header.
.header {
  $border-width: 1px;
  $header-height: $line-height * 2.8;
  position: sticky;
  top: 0;
  height: $header-height;
  line-height: $header-height - $border-width;
  border-bottom: $border-width solid #eeeeee;
  background: #ffffff;
  user-select: none;
  cursor: default;

  button {
    $button-size: $line-height * 1.4;
    $icon-size: 24px;
    display: inline-block;
    height: $button-size;
    padding: ($button-size - $icon-size) / 2;
    margin: ($header-height - $button-size) / 2 0;
    border: 0;
    border-radius: $button-size / 2;
    cursor: pointer;
    outline: none;

    .icon {
      width: $icon-size;
      height: $icon-size;
      background-image: url("../icons/icons.svg");
    }

    .button-label {
      display: inline-block;
      height: $icon-size;
      padding: 0 16px;

      font-family: "Manrope", sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: $icon-size;
      color: #ffffff;
    }

    &.home-button {
      float: left;
      background: #7ac133;

      &:active,
      &:hover,
      &:focus {
        background: #93d156;
      }
    }

    &.account-button {
      float: right;
      background: #fe7a77;

      &:active,
      &:hover,
      &:focus {
        background: #ff9e9c;
      }
    }
  }
}

// Style the editor.
.editor {
  padding: ($line-height * 2) 0;

  h1 {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: $line-height * 2;
    color: #000000;

    margin-top: $line-height;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    font-family: "Source Serif Pro", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: $line-height;
    color: #333333;

    margin-top: $line-height;

    &:first-child {
      margin-top: 0;
    }
  }

  a {
    color: #0e8eff;
    text-decoration-line: none;

    &:active,
    &:hover {
      text-decoration-line: underline;
    }
  }
}
