@import "../vendor/reset.css";
@import "./poppins.scss";

// This is the size of the body text.
$font-size: 16px;

// This quantity will form the basis for our vertical rhythm.
$line-height: 24px;

// This is the smallest layout viewport width we support. It's the width of the iPhone 5/SE screen.
$min-width: 320px;

// This is the largest width.
$max-width: 720px;

// I find this box sizing model to be easier to reason about.
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  // Use up the full layout viewport.
  &,
  body,
  .layer {
    width: 100%;
    min-width: $min-width;
    height: 100%;
  }

  // Style the body and its contents.
  body #main .main {
    // Set up a container in the middle of the page.
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 24px;

    // Set up a cool font.
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: $font-size;
    line-height: $line-height;
    color: #202020;

    // Style links.
    a {
      color: #e8559b;
      text-decoration-line: none;
      margin-left: 32px;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        text-decoration-line: underline;
      }
    }

    // Style the header.
    .header {
      display: flex;
      border-bottom: 1px solid #dddddd;
      user-select: none;
      cursor: default;

      .title,
      .authentication {
        width: 50%;
        height: $line-height * 2 - 1;
        line-height: $line-height * 2 - 1px;
      }

      .title {
        font-weight: 700;

        .logo {
          $display-width: 100px;
          $original-width: 944px;
          $original-height: 276px;
          $offset-x: 20px;
          $offset-y: 201px;
          width: $display-width;
          position: relative;
          left: -$offset-x * $display-width / $original-width;
          top: ($original-height - $offset-y) * $display-width / $original-width;
        }
      }

      .authentication {
        text-align: right;
        font-size: 15px;
      }
    }

    // Style the editor.
    .editor {
      outline: none;
      padding: $line-height * 0.5 0;

      p {
        margin-top: $line-height;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
