@font-face {
  font-family: "Poppins";
  font-display: block;
  src: url("../fonts/poppins/Poppins-Thin.ttf") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: block;
  src: url("../fonts/poppins/Poppins-ThinItalic.ttf") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: block;
  src: url("../fonts/poppins/Poppins-ExtraLight.ttf") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: block;
  src: url("../fonts/poppins/Poppins-ExtraLightItalic.ttf") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: block;
  src: url("../fonts/poppins/Poppins-Light.ttf") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: block;
  src: url("../fonts/poppins/Poppins-LightItalic.ttf") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: block;
  src: url("../fonts/poppins/Poppins-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: block;
  src: url("../fonts/poppins/Poppins-RegularItalic.ttf") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: block;
  src: url("../fonts/poppins/Poppins-Medium.ttf") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: block;
  src: url("../fonts/poppins/Poppins-MediumItalic.ttf") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: block;
  src: url("../fonts/poppins/Poppins-SemiBold.ttf") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: block;
  src: url("../fonts/poppins/Poppins-SemiBoldItalic.ttf") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: block;
  src: url("../fonts/poppins/Poppins-Bold.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: block;
  src: url("../fonts/poppins/Poppins-BoldItalic.ttf") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: block;
  src: url("../fonts/poppins/Poppins-ExtraBold.ttf") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: block;
  src: url("../fonts/poppins/Poppins-ExtraBoldItalic.ttf") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: block;
  src: url("../fonts/poppins/Poppins-Black.ttf") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: block;
  src: url("../fonts/poppins/Poppins-BlackItalic.ttf") format("woff2");
  font-weight: 900;
  font-style: italic;
}
