@font-face {
  font-family: "Source Serif Pro";
  font-display: block;
  src: url("../fonts/source-serif-pro/SourceSerifPro-ExtraLight.otf.woff2")
    format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Source Serif Pro";
  font-display: block;
  src: url("../fonts/source-serif-pro/SourceSerifPro-ExtraLightIt.otf.woff2")
    format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Source Serif Pro";
  font-display: block;
  src: url("../fonts/source-serif-pro/SourceSerifPro-Light.otf.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Source Serif Pro";
  font-display: block;
  src: url("../fonts/source-serif-pro/SourceSerifPro-LightIt.otf.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Source Serif Pro";
  font-display: block;
  src: url("../fonts/source-serif-pro/SourceSerifPro-Regular.otf.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Serif Pro";
  font-display: block;
  src: url("../fonts/source-serif-pro/SourceSerifPro-It.otf.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Source Serif Pro";
  font-display: block;
  src: url("../fonts/source-serif-pro/SourceSerifPro-Semibold.otf.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Source Serif Pro";
  font-display: block;
  src: url("../fonts/source-serif-pro/SourceSerifPro-SemiboldIt.otf.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Source Serif Pro";
  font-display: block;
  src: url("../fonts/source-serif-pro/SourceSerifPro-Bold.otf.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Source Serif Pro";
  font-display: block;
  src: url("../fonts/source-serif-pro/SourceSerifPro-BoldIt.otf.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Source Serif Pro";
  font-display: block;
  src: url("../fonts/source-serif-pro/SourceSerifPro-Black.otf.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Source Serif Pro";
  font-display: block;
  src: url("../fonts/source-serif-pro/SourceSerifPro-BlackIt.otf.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
}
