// This quantity will form the basis for our vertical rhythm.
$line-height: 32px;

// This mixin sets all the common typographic properties at once.
@mixin typography(
  $font-family,
  $font-weight,
  $font-size,
  $line-height,
  $color
) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}
