@import "./muli.scss";
@import "./vendor/reset.css";

// This quantity will form the basis for our vertical rhythm.
$line-height: 32px;

// This is the smallest layout viewport width we support. It's the width of the iPhone 5/SE screen.
$min-width: 320px;

// This is the largest width.
$max-width: 800px;

// This is the transition duration for hover states.
$hover-transition-duration: 0.2s;

// I find this box sizing model to be easier to reason about.
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  // Use up the full layout viewport.
  &,
  body,
  .layer {
    width: 100%;
    min-width: $min-width;
    height: 100%;
  }

  // Style the body and its contents.
  body #main .main {
    // Set up a container in the middle of the page.
    max-width: $max-width;
    margin: 0 auto;

    // Set up a cool font.
    font-family: "Muli", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: $line-height;
    color: #202020;

    // Style links.
    a {
      color: #e8559b;
      transition: color $hover-transition-duration;
      text-decoration-line: none;
      margin-left: 32px;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        color: #ff8dc3;
      }

      &:active {
        color: #d92e80;

        // When a user clicks on a link, skip the transition and give immediate feedback since
        // clicks tend to be quick.
        transition-duration: 0s;
      }
    }

    // Style the header.
    .header {
      display: flex;
      border-bottom: 1px solid #dddddd;
      user-select: none;
      cursor: default;

      .title,
      .authentication {
        width: 50%;
        height: $line-height * 2 - 1;
        line-height: $line-height * 2 - 1px;
      }

      .title {
        font-weight: 700;
      }

      .authentication {
        text-align: right;
        font-size: 15px;
      }
    }

    // Style the editor.
    .editor {
      outline: none;
      padding: $line-height * 0.5 0;
    }
  }
}
