@font-face {
  font-family: "Muli";
  font-display: block;
  src: url("muli/muli-extralight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  font-display: block;
  src: url("muli/muli-extralightitalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Muli";
  font-display: block;
  src: url("muli/muli-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  font-display: block;
  src: url("muli/muli-lightitalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Muli";
  font-display: block;
  src: url("muli/muli.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  font-display: block;
  src: url("muli/muli-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Muli";
  font-display: block;
  src: url("muli/muli-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  font-display: block;
  src: url("muli/muli-semibolditalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Muli";
  font-display: block;
  src: url("muli/muli-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  font-display: block;
  src: url("muli/muli-bolditalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
