@font-face {
  font-family: "Rajdhani";
  font-display: block;
  src: url("rajdhani/light.woff") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Rajdhani";
  font-display: block;
  src: url("rajdhani/regular.woff") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rajdhani";
  font-display: block;
  src: url("rajdhani/medium.woff") format("woff2");
  font-weight: 500;
  font-style: normal;
}
